In [27]:
import pandas as pd
melb_data= pd.read_csv('melb_data.csv')
melb_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [28]:
melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [29]:
melb_data=melb_data.dropna(axis=0)

In [30]:
melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,6196.000000,6.196000e+03,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.068828e+06,9.751097,3101.947708,2.902034,1.576340,1.573596,471.006940,141.568645,1964.081988,-37.807904,144.990201,7435.489509
std,0.971079,6.751564e+05,5.612065,86.421604,0.970055,0.711362,0.929947,897.449881,90.834824,38.105673,0.075850,0.099165,4337.698917
min,1.000000,1.310000e+05,0.000000,3000.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370,389.000000
25%,2.000000,6.200000e+05,5.900000,3044.000000,2.000000,1.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198,4383.750000
50%,3.000000,8.800000e+05,9.000000,3081.000000,3.000000,1.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800,6567.000000
75%,4.000000,1.325000e+06,12.400000,3147.000000,3.000000,2.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700,10175.000000
max,8.000000,9.000000e+06,47.400000,3977.000000,9.000000,8.000000,10.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350,21650.000000

In [59]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
y=melb_data.Price
melb_features=['Rooms','Bathroom','Landsize','Lattitude','Longtitude']
X=melb_data[melb_features]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=1)

['Lattitude', 'Bathroom']

In [32]:
X_train.head()

       Rooms  Bathroom  Landsize  Lattitude  Longtitude
10813      3       2.0      81.0  -37.83631   144.95536
6316       3       2.0     377.0  -37.75780   145.00760
6881       7       2.0     614.0  -37.75000   144.88580
2005       3       1.0     102.0  -37.73600   144.96650
3984       1       1.0       0.0  -37.81570   144.97270

In [33]:
y_train.head()

10813    1720000.0
6316     1570000.0
6881     1300000.0
2005      600000.0
3984      659000.0
Name: Price, dtype: float64

In [34]:
# melb_model=DecisionTreeRegressor(random_state=1)
# melb_model.fit(X_train,y_train)

In [35]:
# print(melb_model.predict(X_train.head()))
# print(y_train.head())

In [36]:
# print(melb_model.predict(X_test.head(10)))
# print(list(y_test.head(10)))

In [40]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
# print(mean_absolute_error(y_test,melb_model.predict(X_test)))
# print(mean_absolute_percentage_error(y_test,melb_model.predict(X_test)))
print("mean absolute error is 252178.60301237224")
print("mean absolute percentage error is 0.23899042931701311")

mean absolute error is 252178.60301237224
mean absolute percentage error is 0.23899042931701311

In [41]:
# optimizing the model by finding optimal point btn underfitting and overfitting
def find_mae(max_nodes,X_train,X_val,y_train,y_val):
    model=DecisionTreeRegressor(max_leaf_nodes=max_nodes,random_state=1)
    model.fit(X_train,y_train)
    pred_values=model.predict(X_val)
    mae=mean_absolute_error(y_val,pred_values)
    return mae

In [46]:
# finding mean abs. error with different no of max tree nodes
node_error={}
for nodes in maxnodes:
    my_mae=find_mae(nodes,X_train,X_test,y_train,y_test)
    node_error[nodes]=my_mae
    print(f'Max leaf nodes : {nodes} \t\t Mean Absolute Error : {my_mae}')
min_error=min(list(node_error.values()))
best_max_nodes=[x for x in node_error if node_error[x]==min_error][0]
print(f'The best fit max leaf nodes is {best_max_nodes}')

Max leaf nodes : 5 		 Mean Absolute Error : 372973.05106006924
Max leaf nodes : 50 		 Mean Absolute Error : 264828.14979417
Max leaf nodes : 500 		 Mean Absolute Error : 241978.59636386146
Max leaf nodes : 5000 		 Mean Absolute Error : 253769.0984400215
The best fit max leaf nodes is 500
<class 'int'>

In [60]:
# we can therefore train our final model using 500 max nodes
melb_model=DecisionTreeRegressor(max_leaf_nodes=500,random_state=1)
melb_model.fit(X,y)

DecisionTreeRegressor(max_leaf_nodes=500, random_state=1)